    <nav>
    <% if (user) { %>
        <!-- if there is users from local -->
      <h1>Welcome to the App! <%= user.username %></h1>
      <a href="/books">View all Books</a>
      <a href="/users/profile">Profile</a>
      <a href="/auth/sign-out">Sign out</a>
    <% } else { %>
      <h1>Welcome to the app, guest.</h1>
      <a href="/auth/sign-up">Sign up</a>
      <a href="/auth/sign-in">Sign in</a>
    <% } %>
    
  </nav>