<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Application</title>
</head>

<body>
  <%- include ('./partials/_navbar.ejs') %> 
   <img src="/img/3.png" alt="Banner Image" class="banner"><br>
  <h1>Welcome To Books Quotes app</h1>

  
</body>
</html>